altgraph==0.17.2
appdirs==1.4.4
certifi==2022.5.18.1
charset-normalizer==2.0.12
coverpy==0.0.4
dialite==0.5.3
idna==3.3
macholib==1.16
modulegraph==0.19.2
Pillow==9.1.1
py2app==0.28
pyobjc-core==8.5
pyobjc-framework-Cocoa==8.5
pyobjc-framework-Quartz==8.5
pypresence==4.2.1
pystray==0.19.3
requests==2.27.1
six==1.16.0
toml==0.10.2
urllib3==1.26.9
